<ion-card>
  <ion-card-header>
    <ion-card-title>My car</ion-card-title>
  </ion-card-header>
  <ion-item>
    <ion-label>
      DeviceId: {{ deviceId }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Last valid GPS position date: {{ surveyDateTime }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-label>
      Last valid status date: {{ lastEventDateTime }}
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-textarea>
      Last status: {{ lastStatusMsg }}
    </ion-textarea>
  </ion-item>
  <ion-card-content>
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]=16>
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </ion-card-content>
</ion-card>