/* You can add global styles to this file, and also import other style files */

.toast--danger {
    display: block;
    top: auto; 
    background-color: #0076ff;
    text-align: center;
    width: 80%;
    margin: 60px auto 0;
}