<div class="login-form">
    <ons-input modifier="material" [(value)]="username" type="email" required placeholder="username"></ons-input>
    <ons-input modifier="material" [(value)]="password" type="password" required placeholder="password"></ons-input>
    <br><br>
    <ons-button modifier="material" class="login-button" (click)="login()">Login</ons-button>
    <br><br>
    <div style="border-style: solid; border-width: 1px">
        <label class="checkbox checkbox--material remember-checkbox" style="border-style: solid; border-width: 1px">
            <input type="checkbox" class="checkbox__input checkbox--material__input" [(ngModel)]="remember">
            <div class="checkbox__checkmark checkbox--material__checkmark"></div>
            Remember
        </label>        
        <ons-button modifier="quiet" class="forgot-password-button" style="border-style: solid; border-width: 1px">Forgot password?</ons-button>
    </div>
</div>
