<div class="login-form">
    <ons-input class="text-input--underbar" [(value)]="username" type="email" required placeholder="username"></ons-input>
    <ons-input class="text-input--underbar" [(value)]="password" type="password" required placeholder="password"></ons-input>
    <br><br>
    <ons-button modifier="large" class="login-button" (click)="login()">Login</ons-button>
    <label class="checkbox--noborder">
        <div class="checkbox__checkmark checkbox--noborder__checkmark">Remember</div>
        <ons-checkbox class="checkbox__input checkbox--noborder__input" [(ngModel)]="remember"></ons-checkbox>
    </label>
    
    <br><br>
    <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
</div>
