<ion-card>
  <ion-card-header>
    <ion-card-title>My home</ion-card-title>
  </ion-card-header>
  <ion-list>
    <ion-item *ngFor="let sensor of sensors$ | async">
      <ion-label>
        <h1>{{sensor.name}}</h1>
        <p>{{sensor.id}}</p>
        <!-- <ion-button (click)="acknowledge(sensor)">Riconosci</ion-button> -->
        <p>Millis: {{sensor.millis}}</p>        
        <p>Now: {{sensor.now}}</p>
        <p>Value: {{sensor.value}}</p>
        <ion-range min="-200" max="200" color="secondary">
          <ion-label slot="start">-200</ion-label>
          <ion-label slot="end">200</ion-label>
        </ion-range>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-card>