<ons-card>
  <ons-list>
    <ons-list-header>sensors works!</ons-list-header>
    <div *ngFor="let sensor of sensors">
      <ons-list-item expandable>
        <div>
          name: {{sensor.name}}
        </div>
        <div>
          <button (click)="acknowledge(sensor)">Riconosci</button>
        </div>
        <div class="expandable-content">
          <div>
            Id: {{sensor.id}}
          </div>
          <div>
            Millis: {{sensor.millis}}
          </div>
          <div>
            Now: {{sensor.now}}
          </div>
          <div>
            Value: {{sensor.value}}
        </div>
        </div>
      </ons-list-item>       
    </div>
  </ons-list>

  <button (click)="recall()">recall</button>
</ons-card>