/* You can add global styles to this file, and also import other style files */

.toast--danger {
    display: block;
    background-color: #0076ff;
    width: 80%;
    margin: 20px auto 0;
}

.toast--danger__message {
    text-align: center;
}