<ons-toolbar>
    <div class="center">{{title}}</div>
    <!-- <div [hidden]="!isLoggedIn" class="left">
      <div class="center">{{connectionStatus}}</div>
    </div> -->
    <div [hidden]="!isLoggedIn" class="right">
        <ons-toolbar-button (click)="openMenu()">
          <ons-icon icon="ion-ios-menu, material:md-menu"></ons-icon>
        </ons-toolbar-button>
    </div>
</ons-toolbar>
<div class="background"></div>
<div class="content">

  <div *ngIf="!isLoggedIn">
    <app-login></app-login>
  </div>

  <div *ngIf="isLoggedIn">    
    <app-map></app-map>
  </div>

  <div *ngIf="isLoggedIn">
    <app-sensors></app-sensors>
  </div>

  <div *ngIf="isLoggedIn">
    <app-sensors></app-sensors>
  </div>

  <div *ngIf="isLoggedIn">
    <app-things></app-things>
  </div>

</div>
