<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="isLoggedIn" slot="primary">
      <ion-icon [name]="connIconName" [color]="connIconColor"></ion-icon>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <div *ngIf="!isLoggedIn">
      <app-login></app-login>
    </div>
    <ion-grid *ngIf="isLoggedIn">
      <ion-row>
        <ion-col>
          <app-map></app-map>
        </ion-col>
<!--
        <ion-col *ngIf="(sensorsCount$ | async) !== 0">
          <app-sensors1></app-sensors1>
        </ion-col>
-->
        <ion-col>
          <app-things-sensors></app-things-sensors>
        </ion-col>
      </ion-row>
<!--
      <ion-row>
        <ion-col>
          <app-things></app-things>
        </ion-col>
      </ion-row>
-->      
<!--
      <ion-col>
        <app-sensors0></app-sensors0>
      </ion-col>
-->     
    </ion-grid>
  </div>
</ion-content>