<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons *ngIf="isLoggedIn" slot="primary">
      <ion-icon [name]="connIconName" [color]="connIconColor"></ion-icon>
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      PeraColta - Hardworking bees are working here
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!isLoggedIn">
    <app-login></app-login>
  </div>
  <div *ngIf="isLoggedIn">
    <app-map></app-map>
    <app-sensors></app-sensors>
    <app-things></app-things>
  </div>
</ion-content>